h2 {
    margin: 0
}

.logout-button button {
    font-size: 1.5rem;
    padding: 40px 80px;
    border: 1px solid;
    border-bottom: 3px solid;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
}

.logout-button button:hover {
    border-bottom: 1px solid;
    transform: translateY(5px);
    box-shadow: 0px -5px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
}

.logout-button button:active {
    border-bottom: 3px solid;
    transform: translateY(10px);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.1)
}